<template>
   <v-app
    id="inspire"
    dark
    primary
  >
   <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="item in items"
          :key="item.title"
        >
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <router-link :to="item.routerLink">{{item.title}}</router-link>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="red"
      dense
      fixed
      :clipped-left="clipped"
      app
    >
     <v-toolbar-side-icon  @click.stop="drawer = !drawer" ></v-toolbar-side-icon>
      <!-- <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon> -->
      <v-toolbar-title class="mr-5 align-center">
        <span  class="title">YU-GI-SHOP</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-layout row align-center style="max-width: 650px">
        <v-text-field
          :append-icon-cb="() => {}"
          placeholder="Search..."
          single-line
          append-icon="search"
          color="white"
          hide-details
        ></v-text-field>
      </v-layout>
    </v-toolbar>
    <v-content>
      <router-view class="child"></router-view>
    </v-content>
    <v-footer
    dark
    height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="teal grey darken-3">
        <strong class="subheading">Get connected with us on social networks!</strong>
      </v-card-title>

      <v-card-actions class="grey darken-3 justify-center">
        &copy;2019 — <strong>Yu-Gi-Shop</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
  </v-app>
</template>

<script>
import Home from './components/Home'

export default {
  name: 'App',
  components: {
    Home
  },
  data () {
    return {
      clipped: false,
       drawer: false,
      fixed: false,
       miniVariant: false,
      items: [
        { icon: "home", title: "Home", routerLink: "/" },
        {
          icon: "flash_on",
          title: "Buy Cards",
          routerLink: "/"
        },
      ]
    }
  }
}
</script>
