<template>
  <v-container class="my-5">
    <v-flex>
      <div class="font-weight-thin display-3 text-xs-center ma-3">Welcolme to Yu-Gi-Shop</div>
    </v-flex>
    <v-layout row wrap>
      <v-flex xs12 md12 lg12>
        <v-carousel class="mt-3">
          <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>
    <v-flex>
      <div
        class="font-weight-thin display-2 text-xs-center mt-2 ma-3"
      >Here are some of our old school models...</div>
    </v-flex>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4 lg3 v-for="card in cardList" :key="card.cardName">
        <v-card flat class="text-xs-center ma-3" height="520px" width="300px">
          <v-responsive class="pt-4">
            <v-img :src="card.cardImage"></v-img>
          </v-responsive>
          <v-card-text>
            <div class="primary-title">{{card.cardName}}</div>
            <span class="font-weight-light">ATK:{{card.cardAttack}} DEF:{{card.cardDefense}}</span>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout align-center>
      <v-flex>
        <div class="font-weight-thin display-1 text-xs-center ma-3">Want some more ?</div>
      </v-flex>
    </v-layout>
    <v-layout align-center>
      <v-flex>
        <div
          class="font-weight-thin headline text-xs-center ma-3"
        >Don't have an acccount ? You can create one, it only takes seconds</div>
      </v-flex>
    </v-layout>
    <v-layout align-center class="justify-center">
      <v-btn color="primary" @click="signIn">Sign Up</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import { store } from "../store/index";
export default {
  data() {
    return {

      cardInfos: null,
      show: false,
      file1: "../dist/File1.mp3",
      items: [
        {
          src: "https://wallpapercave.com/wp/wp2580362.jpg"
        },
        {
          src: "https://wallpapercave.com/wp/wp2580338.jpg"
        },
        {
          src: "https://wallpapercave.com/wp/wp2580364.jpg"
        },
        {
          src: "https://wallpapercave.com/wp/wp2580374.jpg"
        }
      ]
    };
  },

  mounted() {
    this.$store.dispatch("getcards");
  },
  computed: {
    cardList() {
      return this.$store.getters.cardList;
    }
  },
  methods: {
    signIn: function() {
      this.$router.push({
        name: "signUpComp"
      });
    },
  }
};
</script>
<style>
.spacing-card {
  margin-top: 150px;
}
</style>
