<template>
  <v-container class="my-5">
    <v-flex>
      <div class="font-weight-thin display-3 text-xs-center ma-3">OOOPS SOMETHING IS WRONG</div>
    </v-flex>
    <v-layout row wrap>
      <v-flex xs12 md12 lg12>
        <v-img v-for="(item,i) in items" :key="i" :src="item.src"></v-img>
      </v-flex>
      <v-layout align-center class="justify-center">
      <v-btn class="ma-5" color="primary" @click="routing">Sign Up</v-btn>
    </v-layout>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: "landingPageComp",
  data() {
    return {
      items: [{ src: require("../assets/meme.jpg") }]
    };
  },
  methods: {
      routing:function(){
          this.$router.push({
          name: "signUpComp"
        });
      }
  },
};
</script>
