<template>
    <v-container class="my-5">
    <v-flex>
      <div class="font-weight-thin display-3 text-xs-center ma-3">Create your account</div>
    </v-flex>
    <v-flex>
      <div class="font-weight-thin display-1 text-xs-center ma-3">Please provide the requested information</div>
    </v-flex>
    <v-layout row wrap>
      <v-flex xs12 md12 lg12>
       <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="name"
      :rules="nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="surname"
      :rules="nameRules"
      label="Surname"
      required
    ></v-text-field>
     <v-text-field
      v-model="age"
      label="Age"
      required
    ></v-text-field>
     <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>
     <v-text-field
      v-model="username"
      label="Username"
      required
    ></v-text-field>
     <v-text-field
     :type="show1 ? 'text' : 'password'"
      v-model="password"
      label="Password"
      required
    ></v-text-field>

   

    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>

    <v-btn
      :disabled="!valid"
      color="success"
      @click="postUser"
    >
      Validate
    </v-btn>

    <v-btn
      color="error"
      @click="reset"
    >
      Reset Form
    </v-btn>

    <v-btn
      color="warning"
      @click="resetValidation"
    >
      Reset Validation
    </v-btn>
  </v-form>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import axios from 'axios'
export default {
    name:'signUpComp',
    data: () => ({
      show1: false,
      valid: true,
      surname:'',
      age:'',
      password:'',
      username:'',
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters'
      ],
      email: '',

      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      select: null,
      checkbox: false
    }),

    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.snackbar = true
        }
      },
      postUser: function() {
      axios({
        method: "POST",
        headers:{'Content-Type': 'application/json'},
        url: "http://localhost:5000/api/users",
        data: {
          username: this.username,
          password: this.password,
          email: this.email,
          name: this.name,
          surname: this.surname,
          age: this.age
        }
      })
      .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
         this.$router.push({
        name: "home"
      });
    },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      }
    }
}
</script>

